<!DOCTYPE html>
<head>
  <link href="./static/styles2.css" rel="stylesheet">
</head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<style>

@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i);

section {
  background: #fff;
  color: #000;
  padding: 2em;
  font-family: "PT Serif", Baskerville, Georgia;
}

#follow {
  background: none;
}

.grey {
  color: #777;
}

a:link,
a:visited {
  color: orange;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

</style>
<!-- products.jpg background.png -->
<section style="padding-top:5em;background:url(/static/images/products.jpg);background-size:cover;">
  <p style="text-align:center;color:#000;font-size:200%;line-height:2em;background-color:white;width:60%;margin:auto">True Fit Skin Care
  <p style="text-align:center;color:#000;font-size:200%;line-height:1.5em;font-size:1.1em;background-color:white;width:60%;margin:auto;margin-top:10%"> Chang Liu <br> Fellow at Insight Data Science 2014
</section>

<section id="problems" style="text-align:center;padding-top:5em;">
  <div class="pagetitle" >What makes it so hard? <b>Overwhelming information</b></div>
  <div class="problem" id="products"> So many products... <img src="/static/images/products.png" style="height:100%;margin-left:-10%;margin-top:-10%"> </div>
  <div class="problem" id="reviews" style="visibility: hidden"> So many reviews... <img src="./static/images/reviews.png" style="height:100%;margin-top:-5%"> </div>
  <div class="problem" id="review" style="visibility: hidden"> Reviews are so long... <img src="./static/images/review.png" style="height:100%;margin-top:-5%"> </div>
  <div class="problem" id="ingredients" style="visibility: hidden"> So many ingredients... <img src="./static/images/ingredients.png" style="height:100%;margin-top:-5%"> </div>
  <div class="problem" id="picture" style="visibility: hidden"><img src="./static/images/problem.png" style="height:100%"></div>
  <!-- style="position:relative;margin-top:-10%;width:100%" -->
</section>

<section id="backend" style="text-align:center;padding-top:5em;">
  <div class="pagetitle" >Collaborative Filter using User Reviews from Sephora.com </b></div>
  <div class="problem" id="data"> <img src="./static/images/data.png" style="width:100%"></div>
  <div class="problem" id="algorithm" style="visibility: hidden"> <h3 style="text-indent:1em;line-height:.5em;">Algorithm:</h3> 
    <ul>
      <li>Item-centric collaborative filter</li>
      <li>Pearson’s correlation coefficients to measure pairwise similarity</li>
    </ul></div>
  <!-- <div class="problem" id="equation" style="visibility: hidden"> <img src="./static/images/equation.png" style="width:100%"> </div>
  <div class="problem" id="arrows" style="visibility: hidden"> <img src="./static/images/arrows.png" style="width:100%;height:100%"> </div> -->
  <div class="problem" id="cv" style="visibility: hidden"> <h3 style="text-indent:1em;line-height:.5em;"> Cross Validation:</h3> 
    <ul>
      <li>5-fold for reviewers</li>
      <li>Leave-one-out for products</li>
      <li>Accuracy = <font weight="bold"> 86.3% &plusmn 1%</font></li>
    </ul></div>
</section>

<section style="text-align:center;padding-top:5em;">
  <div class="pagetitle" >Product-Product Similarity Matrix </b></div>
  <div class="problem" id="sim"> <img src="./static/images/sim_product_final_bn.png" style="width:100%"></div>
  <div id="illu" style="text-align:left"> 
    <br>Pixel color = Pair-wise similarity<br>from 32k users' perspective!</div>
  <div id="colorbar"> <img src="./static/images/colorbar_bn.png" style="width:100%"> </div>
</section>

<section style="text-align:center;padding-top:5em;">
  <div class="pagetitle" >Product-Product Similarity Matrix </b></div>
  <div class="problem" id="sim"> <img src="./static/images/sim_product_final_line_bn.png" style="width:100%"></div>
  <div id="illu" style="text-align:left"> 
    <br>Pixel color = Pair-wise similarity<br>from 32k users' perspective!</div>
  <div id="colorbar"> <img src="./static/images/colorbar_bn.png" style="width:100%"> </div>
  <div id="loyalty"> Blackness in a square indicates<b> Customer Loyalty</b> </div>
</section>

<section id="examples" style="text-align:center;padding-top:5em;">
  <div class="pagetitle" > <b>For example...</b> </div>
  <div class="problem" id="sim"> <img src="./static/images/sim_product_final_line_bn.png" style="width:100%"></div>
  <div class="problem" id="example"> <img src="./static/images/example.png" style="width:100%"></div>
</section>

<section id="examples" style="text-align:center;padding-top:5em;">
  <div class="pagetitle" > <b>For example...</b> </div>
  <div class="problem" id="sim"> <img src="./static/images/sim_product_final_line_bn.png" style="width:100%"></div>
  <div class="problem" id="example"> <img src="./static/images/example.png" style="width:100%"></div>
  <div id="insight"> <span class="bold"> Actionable insights</span> for Sephora.com: 
    <br>Send marketing emails to new customers of brands with strong customer loyalty!
  </div>
</section>

<section style="text-align:center;padding-top:5em;">
  <div class="problem" id="me"> <img src="./static/images/me.png" style="height:100%;"> </div>
  <div class="problem" id="cmu"> <img src="./static/images/cmu.png" style="height:100%;"> </div>
  <div class="problem" id="pipe1"> <img src="./static/images/pipe1.png" style="height:100%;"> </div>
  <div class="problem" id="pipe2"> <img src="./static/images/pipe2.png" style="height:100%;"> </div>
  <div class="problem" id="civil"> <img src="./static/images/civil.png" style="height:100%;"> </div>
  <div class="problem" id="contact"> <em>
    Chang Liu
    <br> j8d8l5@gmail.com
    <br> linkedin.com/in/liuchangcmu
    <br> github.com/r4trtry </em>
  </div>
</section>

<section style="text-align:center;padding-top:5em;">
  <div class="pagetitle" >Is star rating really a good measure of <b>Users' Perspective?</b></div>
  <div id="prcrcl"> 
    <table>
      <tr style="font-weight:bold"><td colspan="3">Cross-Validation</td>
      <tr style="font-weight:bold"><td>Accuracy</td><td>Precision</td><td>Recall</td></tr>
      <tr><td>88.6%</td><td>93.4%</td><td>83.7%</td></tr>
    </table>
  </div>
  <div class="problem" id="birch"> <img src="./static/images/birch.png" style="height:100%;">
    <ul style="color:black;line-height:2em;margin:0px;">
      <li>NaïveBaysian classifier for sentiment analysis</li>
      <li>Trained with 250k reviews from Birchbox.com</li>
      <li>The website sends out free samples from smaller<br> brands and gathers massive user reviews</li>
    </ul>
  </div>
  <div class="problem" id="review_short"> <img src="./static/images/review_short.png" style="height:100%;"></div>
  <div class="problem" id="infowords"> <img src="./static/images/infowords.png" style="height:100%;"></div>
</section>

<section style="text-align:center;padding-top:5em;">
  <div class="pagetitle" >Is star rating really a good measure of <b>Users' Perspective?</b></div>
  <div id="prcrcl"> 
    <table >
      <tr style="font-weight:bold"><td>Metrics\Test</td><td>Review Text</td><td>Quick Take</td></tr>
      <tr><td style="font-weight:bold">Precision</td><td>95.3%</td><td>85.4%</td></tr>
      <tr><td style="font-weight:bold">Recall</td><td>89.8%</td><td>93.1%</td></tr>
    </table>
  </div>
  <div class="problem" id="rating_review"> <img src="./static/images/rating_senti.png" style="height:100%;"></div>
  <div class="problem" id="review_short"> <img src="./static/images/review_short2.png" style="height:100%;"></div>
</section>

<section id="backend" style="text-align:center;padding-top:5em;">
  <div class="pagetitle" >Collaborative Filter using User Reviews from Sephora.com </b></div>
  <div class="problem" id="alg2"> <img src="./static/images/alg2.png" style="height:100%"></div>
</section>

<script src="./static/d3.v3.min.js"></script>
<script src="./static/stack.v1.min.js"></script>
<script>

function showIt(ID) {  
  document.getElementById(ID).style.visibility = "visible";  
} 

function showProblem(){
  setTimeout("showIt('reviews')", 2000);
  setTimeout("showIt('review')", 2800);
  setTimeout("showIt('ingredients')", 3600);
  setTimeout("showIt('picture')", 6000);
}

function showBackend(){
  setTimeout("showIt('algorithm')", 2500);
  //setTimeout("showIt('arrows')", 4000);
  //setTimeout("showIt('equation')", 4000);
  setTimeout("showIt('cv')", 3500);
}

var mystack = stack()
    .on("activate", activate)
    .on("deactivate", deactivate);

var section = d3.selectAll("section"),
    follow = d3.select("#follow"),
    followAnchor = d3.select("#follow-anchor"),
    followIndex = section[0].indexOf(follow.node()),

    problemsIndex = section[0].indexOf(d3.select("#problems").node());
    backendIndex =  section[0].indexOf(d3.select("#backend").node());

function refollow() {
  followAnchor.style("top", (followIndex + (1 - mystack.scrollRatio()) / 2 - d3.event.offset) * 100 + "%");
}

function activate(d, i) {
  if (i === followIndex) mystack.on("scroll.follow", refollow);
  if (i == problemsIndex) showProblem();
  if (i == backendIndex) showBackend();
}

function deactivate(d, i) {
  if (i === followIndex) mystack.on("scroll.follow", null);
}

</script>
